Dockerfile
swanlog/
__pycache__/
.DS_Store
wandb/
**/.ipynb_checkpoints/
pretraining_data_cache/
logs/
checkpoints/
Evo1_training_dataset/
LIBERO/
# Python virtual environment
evo1_env/
# Logs and outputs
LIBERO_evaluation/log_file/
LIBERO_evaluation/video_log_file/
LIBERO_evaluation/model_params/